<!doctype html>
<html>
<head>
    <title>BudgetTracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="style.css">
</head>
<body class="profileBody">
<div class="profileContainer">

    <div class="page-header text-center">
        <h1 class="profileH"></span> BudgetTracker</h1>
        <a class= profileA href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="profileDiv">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <h1 class="budget">Budget Entries</h1>
        <div id="budget">
          <form action="/createBudget" method="POST">
                  <input type="text" name="budgetName" placeholder="Budget Name"> </input>
                  <input type="number" name="totalBudget" id="number" placeholder="Total Budget Amount" />
                  <input type="number" placeholder="Amount Spent?" name="moneySpent" id="spent">
                  <input placeholder="Remaining Budget" name="remainingBalance" type="number" disabled>
              <button class="add"type="submit"> <i class="fa-solid fa-square-plus fa-2xl"></i></button>
          </form>
      <div>
        <% for(let i=0; i< budget.length; i++){ %>
          <div class="new">
            <div class="title">
              <span><%= budget[i].budgetName %></span>
            </div>
            <div class="amount">
              <span><%= budget[i].totalBudget %></span>
            </div>
            <div class="totalSpent">
              <%= budget[i].moneySpent %>
            </div>
            <div class="total">
              <%= budget[i].remainingBalance %></div>
              <div class="btns">
                <button class="check">
                    Check balance
                </button>
                <button class="deleteOne">
                    <i class="fas fa-trash fa-2xl"></i>
                </button>
            </div>
        </div>
        <% } %>
</div>
</div>




          
        


<script src="main.js"></script>

</body>
</html>
